*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
.navbar{
  background-color: rgb(239, 243, 243);
  display: flex;
  align-items:center;
  justify-content: space-between;


}
#right-corner{
    padding-right:  20px;
    color: rgb(8, 7, 8);
    display: flex;
    gap: 60px;
    
    
}
.Portfolio{
  padding-top: 200px;
  gap: 100px;
  #right{
      padding-left : 150px;
    }
    display: flex;
    align-items: center;
  }
#left{
    padding-right: 100px;
}