*{
    padding: 0px;
    margin-top: 10px;
    box-sizing: border-box;
}
#header{
    width: 100%;
    height: 100px;
    background-color: white
}
#second-main{
    height: ;
   display: flex;
   flex-direction: row;
   height: 200px;
   width: 1500px;

}
#family{
    background-color: plum;
    width: 800px;
    border-radius: 10px;
}
#grandParent{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#parent{
    background-color: aqua;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    height: 100px;
}
    #parent{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    #click{
        background-color: green;
        color: azure;
        border-radius: 5px;

    }
    #eventlogs{
     background-color: rgb(227, 216, 216);
     width:700px;
     border-radius: 10px;
     gap: 10px; 
     height: 400px;;

    }